/*Muhammad Usman*/
/*Line 1 to 52*/
*, body, html {
    box-sizing: border-box;
}



body{
    height: 100vh;
    padding:30px;
    display: block;
    max-width: 1440px;
    max-height: 1080px;
    margin: auto;
}

.container {
    
    display: flex;
    height: 100%;
    color:grey;
    flex-grow: 0;

    border-radius: 2em;   

    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.3);
    overflow: hidden;

    background: rgb(173,238,253);
background: linear-gradient(90deg, rgba(173,238,253,1) 0%, rgba(15,153,214,1) 100%);
}


.sec-1{
    padding:20px 10px;
    width: 20%;
    margin: 2px 0 2px 2px;
    display: flex;
    flex-direction: column;
    background-color: white;



}

.sec-2{
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-grow: 0;
    margin:2px;

}
